# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ivanr\OneDrive - utadeo.edu.co\Escritorio\Grapviz\HanselAndGretelGraphviz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
